NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aigov"
OPENAI_API_KEY="sk-..."
OPENAI_MODEL="gpt-4.1-mini"
VECTOR_STORE_IDS="vs_6a0b0b741c38819190b8bc51a9dee79a,vs_6a0b0b5db5e48191816f28821ecd4b6f,vs_6a0b0b3ff85c8191bd8ef06323335a79,vs_6a0b06d3faf4819183127288049ef83c"
JWT_SECRET="replace-with-strong-secret"
MAX_FILE_MB=20
ALLOWED_MIME_TYPES="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
